<html>
<head>
	<style>
		body {
			background: #f0f0f0;
		}
		article {
			padding: 50px;
			display: flex;
			flex-wrap: wrap;
		}

		.card {
			margin-right: 20px;
			background: #fff;
			width: 500px;
			padding: 20px;
			margin-bottom: 100px;
			position: relative;
			box-shadow: 0 0 15px rgba(0, 0, 0, .1);
		}
		h1 {
			background: #bbb;
			position: absolute;
			left: 10px;
			padding: 10px;
			text-align: center;
			background: #1f8ef1;
			color: #fff;
			top: 0;
			margin: 0;
			transform: translateY(-50%);
			width: 100px;

		}
	</style>
</head>
<body>
	<article>
		<div class="card">
			<h1>title</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam suscipit nulla ipsam deleniti ad harum, architecto officiis deserunt voluptates adipisci placeat consectetur ex ipsa porro sit quas, autem perferendis aliquam quidem quae vel sed, odit est. Alias quo iusto illum maxime nulla aspernatur dolorem fugit et? Vero laborum sed incidunt rem cum cumque laboriosam quas necessitatibus. Quisquam, quasi a exercitationem sunt voluptas tenetur laudantium commodi consequatur illo sapiente ipsa, hic unde quidem incidunt totam! Odit totam error sapiente tempore veritatis nam, at porro exercitationem enim modi sit vel alias in ea vero autem? Natus, laudantium doloremque! Non sapiente saepe nulla!</p>
		</div>
		<div class="card">
			<h1>title</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam suscipit nulla ipsam deleniti ad harum, architecto officiis deserunt voluptates adipisci placeat consectetur ex ipsa porro sit quas, autem perferendis aliquam quidem quae vel sed, odit est. Alias quo iusto illum maxime nulla aspernatur dolorem fugit et? Vero laborum sed incidunt rem cum cumque laboriosam quas necessitatibus. Quisquam, quasi a exercitationem sunt voluptas tenetur laudantium commodi consequatur illo sapiente ipsa, hic unde quidem incidunt totam! Odit totam error sapiente tempore veritatis nam, at porro exercitationem enim modi sit vel alias in ea vero autem? Natus, laudantium doloremque! Non sapiente saepe nulla!</p>
		</div>
		<div class="card">
			<h1>title</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam suscipit nulla ipsam deleniti ad harum, architecto officiis deserunt voluptates adipisci placeat consectetur ex ipsa porro sit quas, autem perferendis aliquam quidem quae vel sed, odit est. Alias quo iusto illum maxime nulla aspernatur dolorem fugit et? Vero laborum sed incidunt rem cum cumque laboriosam quas necessitatibus. Quisquam, quasi a exercitationem sunt voluptas tenetur laudantium commodi consequatur illo sapiente ipsa, hic unde quidem incidunt totam! Odit totam error sapiente tempore veritatis nam, at porro exercitationem enim modi sit vel alias in ea vero autem? Natus, laudantium doloremque! Non sapiente saepe nulla!</p>
		</div>
		<div class="card">
			<h1>title</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam suscipit nulla ipsam deleniti ad harum, architecto officiis deserunt voluptates adipisci placeat consectetur ex ipsa porro sit quas, autem perferendis aliquam quidem quae vel sed, odit est. Alias quo iusto illum maxime nulla aspernatur dolorem fugit et? Vero laborum sed incidunt rem cum cumque laboriosam quas necessitatibus. Quisquam, quasi a exercitationem sunt voluptas tenetur laudantium commodi consequatur illo sapiente ipsa, hic unde quidem incidunt totam! Odit totam error sapiente tempore veritatis nam, at porro exercitationem enim modi sit vel alias in ea vero autem? Natus, laudantium doloremque! Non sapiente saepe nulla!</p>
		</div>
	</article>
</body>
</html>